<div class="mt-4 text-lg font-semibold text-center">
  Secret doesn't exist or has expired
</div>

<div class="mt-2 text-sm text-center">
  <div x-data="{ 'time': 5 }">
    Redirecting in
    <span
      x-text="time"
      x-init="
          timer = setInterval(() => {
            time -= 1;

            if (time <= 0 ){
              window.location.href = '/'
            }
          }, 1000)
        "
    >
    </span>
    seconds..
  </div>
</div>
