<!DOCTYPE html>
<html style="font-family: 'Roboto', sans-serif;" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="">
      <%= assigns[:page_title] || "🔒  Heimdall" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={~p"/assets/app.js"}
    >
    </script>

    <header class="py-6 bg-gray-200">
      <div class="text-center text-xl text-gray-700">
        <a href={~p"/"}>
          Heimdall <.icon name="hero-lock-closed" class="-mt-1.5 h-6 w-6" />
        </a>
      </div>
    </header>
  </head>

  <body class="bg-white antialiased">
    <div class="mt-6">
      <%= @inner_content %>
    </div>
  </body>
</html>
